.loader {
    font-family: 'ZCOOL Kuaile', cursive;
    font-size: 2em;
    color: #f0f0f7;
    text-align: center;
    padding: 25%;
    /* margin-top: 5rem; */
    background-image: linear-gradient(to right, rgba(41, 41, 138, 0.877),rgba(1, 1, 58, 0.842)), url('Image/img9.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.loader:after {
    content: '\2026';
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    animation: dots steps(4, end) 2s infinite;
    width: 0px;
}

@keyframes dots {
    to {
        width: 1.35em;
    }
}